.Stack-container {
    display: flex;
    width: 776px;
    height: 87px;
    justify-content: space-between;
    margin: 130px 566px 0 100px
}

.Stack-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin-right: 94px;
}